#gradle
.gradle
build
out

#java
*.class

#querydsl
/src/main/querydsl

# Package Files #
*.war
*.ear

# intellij
.idea
*.iml
/bin
/out
*.ipr
*.iws

#eclipse
.settings
.classpath
.project
.springBeans
